@import "../../../theme/styles/mixins.scss";

h1 {
  color: var(--foundation-gray-scale-white, #fff);
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;

  @include responsive(sm) {
    font-size: 1rem;
  }
}

p {
  color: var(--foundation-gray-scale-white, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include responsive(sm) {
    font-size: 0.8rem;
  }
}

span {
  color: #ba8e73;
}
