@import "../../theme/styles/theme.scss";

@import "../../theme/styles/colors.scss";

@import "../../theme/styles/mixins.scss";

@import "swiper/scss";

@import "swiper/css/pagination";

.moon-centered-large-background {
  height: 100vh;
}

.mars-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;

  @include responsive(md) {
    padding: 40px;
  }

  @include responsive(sm) {
    padding: 20px;
  }
}

.greetings-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 60px;
}

.logout-btn {
  display: flex;
  align-items: center;
}

.mars-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes zoomIn {
  0% {
    background-size: 30%;
  }

  100% {
    background-size: 100%;
  }
}

.moon-centered-large-background {
  animation: 1s ease-out 0s 1 zoomIn;
}

.mars-carousel {
  display: flex;
  align-items: center;
}

.swiper-pagination-bullet-active {
  background-color: $primary-500;
}

.swiper-pagination-bullet {
  background-color: $primary-300;
}
