<mat-card 
  class="card"
>
  <img 
    class="bg-image hover-zoom"
    class="header-image" 
    mat-card-image src="{{card.img}}" 
    alt="{{card.imgAlt}}"
  >
  <div class="content-wrapper">
    <mat-card-content class="text-wrapper">
      <mat-card-title class="mat-title">
        {{card.title}}
      </mat-card-title>
      <span class="mat-text">
       {{card.paragraph}}
      </span>
    </mat-card-content>
    <mat-card-actions>
        <button
          [@colorChange]="buttonState" 
          (mouseenter)="toggleColor()" 
          (mouseleave)="toggleColor()"
          class="btn-enter enabled-btn common-button-styles"
          (click)="onClick($event)"
        >
          ENTRAR
        </button>
    </mat-card-actions>
  </div>
</mat-card>