@import '../../styles/theme.scss';

@import '../../styles/colors.scss';

@import "../../styles/mixins.scss";

.card {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 70vw;
    min-width: 250px;
    min-height: 500px;
    max-width: 600px;
    max-height: 800px;
    margin: 2vw;
    color: $black;
    border-radius: 10px;
    background-color: $white;
    box-shadow: 1px 1px 10px 5px $black;
}

.header-image {
    position: relative;
    height: 100%;
    width: 100%;
    filter: blur(1px);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%
}



.btn-enter {
    width: 100%;
    border: none;
    padding: 1.2rem 0.3rem;
    border-radius: 5px;
    box-shadow: 0px 0px;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
}