@import "../../theme/styles/theme.scss";

.newsletter-feedback {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFF
}

.moon-right-large-background {
    height: 100vh;
}