@import "../../theme/styles/theme.scss";
@import "../../theme/styles/colors.scss";

.newsletter-feedback {
    height: 100vh;
    width: 100vw;
    color: $white;
    text-align: center;
    margin-top: 2vh;
}

.newsletter-feedback>h1 {
    font-size: calc(2vw + 10px);
}

.moon-right-large-background {
    height: 100vh
}